
<ion-view title="Coleccion">
	<ion-slide-box does-continue="true" show-pager="false" >
	  <ion-slide ng-repeat="imagen in coleccion.galeria">
	    <div class="box" ng-click="previus()">
	    	<img ng-src="{{imagen.imagenUrl}}" alt="">
	    </div>
	  </ion-slide>
	  
	</ion-slide-box>
  		

 	<ion-footer-bar align-title="center" class="bar-dark">
		
		<a class="button button-icon icon ion-ios7-arrow-back" href="#/app/colecciones" animation="slide-out-right"></a>
		<div class="title name-collection-item">{{coleccion.nombre}}</div>  
	</ion-footer-bar>
</ion-view>
	