
<ion-view title="Novedades">
	<ion-content has-bouncing="true" class="has-header has-footer">

		<div class="list novedades">
	
		  <div class="item title">
		    <h3>Viuda Ramirez y Hard Rock Hotels en AFW</h3>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="novedades/viuda-ramirez-2014.jpg">
		    <p>Que mejor manera de festejar nuestros 10 años de Viuda en el Asunción
			Fashion Week que fusionarnos con la prestigiosa firma del Hard RoCK 
			Hotel, para esta especial colección exploramos los looks mas fuertes de 
			la marca y su historial, nos inspiramos en el rock de la decada del 70, 
			en una mujer muy sofisticada que consume mucho arte, le gusta viajar 
			y valora el diseño de autor, los vestidos tienen mucho swing, los flecos 
			hechos artesanalmente recuerdan a los vestidos Charleston de la decada 
			del 20. </p>

			<p>Nuestro proceso creativo fue imaginarnos un tipo de mujer que pueda 
			usar la colección, realizamos un moodboard de varias imágenes no 
			necesariamente de moda, también arte, naturaleza, imágenes de tumbrl, 
			fotos personales, luego armamos la paleta de colores y definimos la 
			silueta de la temporada. </p>

			<p>Los materiales y colores que veremos, gasas con tratamientos 
			especiales, plizadas, cueros en alto brillo y textura, pieles sintéticas, 
			mucho negro y colores metálicos, y un toque de amarillo y mandarina 
			creando bloques de color. </p>

			<p>Buscanos en Maria Vazquez Senador Long 626.</p>
		  </div>
		</div>
  	   
        
  	</ion-content>
	<div class="bar bar-footer bar-dark">
  		<a class="button button-icon icon ion-ios7-arrow-back" href="#/app/novedades" animation="slide-in-right">Volver</a>
	  	
	  
	</div>  

 	
</ion-view>
	